---
	console.log("status Berjalan")
	const name = "Zulfikar Juniarto"
	const domain = name + "" + '.com'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portofolio | {name}</title>
	</head>	
	<body>
		<h1>Welcome To</h1>

		<h3><a href="/page2">To Page 2</a></h3>
	</body>
</html>
