---
import Index from "./index.astro"

console.log(Index.name)

---

<!-- <title>Page 2 | {name}</title> -->

<body>
	<h1>Welcome To Page to Page 2</h1>
    <h3><a href="/">Back To Index</a></h3>

</body>
